<div *ngIf="isFormLoaded()" [@fadeIn]>
    <div class="headwrapper">
        <div>
            <h2>Forms</h2>
        </div>
    </div>
    <section class="gallery-cat">
        <mat-card class="gallery-cat-card" [ngClass]="{'hidden': !+form.COUNT}" [routerLink]="['/arts/form', form.ID]"
            *ngFor="let form of getForms()" matRipple>
            <div *ngIf="form.COUNT">
                <img mat-card-image src="{{ getDataServerURL() + form?.FIMAGE }}" alt="{{ form.FORM }}"
                    class="gal-mat-card-image" title="Form / {{ form.FORM | titlecase }}"
                    onerror="this.src='assets/imgs/inf.jpg'">
                <mat-card-content>
                    <b>{{form.FORM | titlecase}}</b><br>
                    <b>#{{form.COUNT}} Articles</b>
                </mat-card-content>
            </div>
        </mat-card>
    </section>
</div>