<p>paste works!</p>

<app-image-viewer 
[images]="['https://images.nga.gov/en/web_images/niagara2.jpg']"
[loadOnInit]="true"
[idContainer]="'idOnHTML'">
</app-image-viewer>
<h2>
    Sample Images (That You Can Right-Click And Copy)
</h2>
<p class="sample-images">
    <img src="https://images.nga.gov/en/web_images/niagara2.jpg" class="sample-image" />

</p>
<h2>
    Pasted Images
</h2>
<p class="images">
    <ng-template ngFor let-imageUrl [ngForOf]="imageUrls">
        <img [src]="imageUrl" class="image" />
    </ng-template>
</p>