.input-list{
  width: 7rem;
  padding: 1rem;
  font-size: 0.9rem;
}
.mat-grid-imgs{
  object-fit: cover;
  height: inherit;
  width: 100%;
  &:hover + .grid-item-info {
    display: block;
  }
}

.grid-item-info{
  position: absolute;
  bottom: 0;
  padding: 0.5rem;
  background: rgba(0,0,0,0.5);
  display: none;
  &:hover  {
    display: block;
  }
}
.transcard{
  background: none;
    box-shadow: none;
}