
<div *ngIf="isSchoolLoaded()" [@fadeIn]>
		<div class="headwrapper">
				<div><h2>School</h2></div>
		</div>
	
	<section class="gallery-cat">
		<mat-card class="gallery-cat-card" [ngClass]="{'hidden': !+school.COUNT}"
			[routerLink]="['/arts/school', school.ID]" *ngFor="let school of getSchools()" matRipple>
			<div *ngIf="school.COUNT">
				<img mat-card-image src="{{getDataServerURL() + school?.FIMAGE}}" alt="{{ school.SCHOOL }}"
					class="gal-mat-card-image" title="School / {{ school.SCHOOL | titlecase }}"
					onerror="this.src='assets/imgs/inf.jpg'">
				<mat-card-content>
					<b>{{school.SCHOOL | titlecase}}</b> <br>
					<b>#{{school.COUNT}} Articles</b>
				</mat-card-content>
			</div>
		</mat-card>
	</section>
</div>