<div class="contact">
    <div class="contact-comp">
        <p>To, </p>
        <h3>Mercurial</h3>
    </div>

    
    <div class="contact-comp" style="display: flex;">
        <label>Subject:</label>
        <mat-radio-group aria-labelledby="subject" [(ngModel)]="contactInfo.category">
            <mat-radio-button value="message" class="contact-radio">Message</mat-radio-button>
            <mat-radio-button value="errorreport" class="contact-radio">Error Reporting</mat-radio-button>
            <mat-radio-button value="complaint" class="contact-radio">Complaint</mat-radio-button>
            <mat-radio-button value="others" class="contact-radio">Others</mat-radio-button>

        </mat-radio-group>
    </div>
    <div class="contact-comp">
        <mat-form-field class="textarea-full-width">
            <textarea matInput matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=20
                placeholder="Leave a comment" [(ngModel)]="contactInfo.value"></textarea>
        </mat-form-field>
    </div>
    <div class="contact-comp">
        <p>Regards, </p>
            <mat-form-field class="input-half-width">
                <input matInput placeholder="Your Name"  [(ngModel)]="contactInfo.name">
            </mat-form-field>
    </div>
    <div style="margin: 0 4rem;">
        <button mat-icon-button (click)="summonTheDemon()"  >
            <mat-icon style="color: rgb(25, 93, 153);">send</mat-icon>
        </button>
    </div>
</div>