.contact {
  display: flex;
  width: 100%;
  flex-direction: column;

  .contact-comp {
    margin: 1rem 4rem;
    .contact-radio {
      font-family: inherit;
      margin-left: 2rem;
    }
    .textarea-full-width{
        width: 100%;
        font-family: var(--used-font-stack);
    }
    .input-half-width{
        width: 50%;
        font-family: var(--used-font-stack);
    }
  }
}
