<div *ngIf="isTimeframeLoaded()" [@fadeIn]>

    <div class="headwrapper">
        <div>
            <h2>Timeframe</h2>
        </div>
    </div>
    <section class="gallery-cat ">
        <mat-card class="gallery-cat-card"  [ngClass]="{'hidden': !+timeframe.COUNT}"
        [routerLink]="['/arts/timeframe', timeframe.ID]"
            *ngFor="let timeframe of getTimeframes()" matRipple>
            <div>
                <img appLazyLoad mat-card-image src="{{getDataServerURL() + 'preview/'+ timeframe?.FIMAGE}}" alt="{{ timeframe.TIMEFRAME }}"
                    class="gal-mat-card-image" title="Timeframe / {{ timeframe.TIMEFRAME | titlecase }}"
                    onerror="this.src='assets/imgs/inf.jpg'">
                <mat-card-content>
                    <b>{{timeframe.TIMEFRAME | titlecase}}</b> <br>
                    <b>#{{timeframe.COUNT}} Articles</b>
                </mat-card-content>
            </div>
        </mat-card>
    </section>
</div>