<h2>Gallery!</h2>
<app-spinner
	*ngIf="!everythingLoaded()"
	[@fadeIn]></app-spinner>

<!-- <mat-grid-list cols="5" rowHeight="1:1" gutterSize="1em">
	<mat-grid-tile *ngFor="let form of forms.records" >
	<img src="{{form?.FIMAGE}}" alt="model">

	<mat-grid-tile-footer>
	<h2 >{{ form.FORM }}</h2><br>
	<span >{{ form.FORM }}</span><br>
	<mat-icon>info</mat-icon><br>
	</mat-grid-tile-footer>

	</mat-grid-tile>
	</mat-grid-list> -->

<div  [@fadeIn]>

		<div class="headwrapper">
				<div><h2>Authors</h2></div>
				<div><a mat-flat-button [routerLink]="['/gallery/authors']">View All</a></div>
</div>


<div *ngIf="isFormLoaded()" [@fadeIn]>
	<div class="headwrapper">
		<div><h2>Forms</h2></div>
		<div><a mat-flat-button [routerLink]="['/gallery/forms']">View All</a></div>
	</div>
	<section class="gallery-cat horscroll full-width">
		<mat-card class="gallery-cat-card" [ngClass]="{'hidden': !+form.COUNT}" [routerLink]="['/arts/form', form.ID]"
			*ngFor="let form of getForms()" matRipple>
			<div *ngIf="form.COUNT">
				<img mat-card-image src="{{ getDataServerURL() + form?.FIMAGE }}" alt="{{ form.FORM }}"
					class="gal-mat-card-image" title="Form / {{ form.FORM | titlecase }}"
					onerror="this.src='assets/imgs/inf.jpg'">
				<mat-card-content>
<!-- 					<mat-card-title style="font-size: 1.2em;">{{form.FORM | titlecase}}</mat-card-title>
 -->					<b>{{form.FORM | titlecase}}</b><br>
 						<b>#{{form.COUNT}} Articles</b>
				</mat-card-content>
			</div>
		</mat-card>
	</section>
</div>

<div *ngIf="isTypeLoaded()" [@fadeIn]>
		<div class="headwrapper">
				<div><h2>Type</h2></div>
				<div><a mat-flat-button [routerLink]="['/gallery/types']">View All</a></div>
		</div>
	
	<section class="gallery-cat horscroll full-width">
		<mat-card class="gallery-cat-card" [ngClass]="{'hidden': !+type.COUNT}" [routerLink]="['/arts/type', type.ID]"
			*ngFor="let type of getTypes()" matRipple>
			<div *ngIf="type.COUNT">
				<img mat-card-image src="{{getDataServerURL() + type?.FIMAGE}}" alt="{{ type.TYPE }}"
					class="gal-mat-card-image" title="Type / {{ type.TYPE | titlecase }}"
					onerror="this.src='assets/imgs/inf.jpg'">
				<mat-card-content>
					<b>{{type.TYPE | titlecase}}</b> <br>
					<b>#{{type.COUNT}} Articles</b>
				</mat-card-content>
			</div>
		</mat-card>
	</section>
</div>

<div *ngIf="isSchoolLoaded()" [@fadeIn]>
		<div class="headwrapper">
				<div><h2>School</h2></div>
				<div><a mat-flat-button [routerLink]="['/gallery/schools']">View All</a></div>
		</div>
	
	<section class="gallery-cat horscroll full-width">
		<mat-card class="gallery-cat-card" [ngClass]="{'hidden': !+school.COUNT}"
			[routerLink]="['/arts/school', school.ID]" *ngFor="let school of getSchools()" matRipple>
			<div *ngIf="school.COUNT">
				<img mat-card-image src="{{getDataServerURL() + school?.FIMAGE}}" alt="{{ school.SCHOOL }}"
					class="gal-mat-card-image" title="School / {{ school.SCHOOL | titlecase }}"
					onerror="this.src='assets/imgs/inf.jpg'">
				<mat-card-content>
					<b>{{school.SCHOOL | titlecase}}</b> <br>
					<b>#{{school.COUNT}} Articles</b>
				</mat-card-content>
			</div>
		</mat-card>
	</section>
</div>

<div *ngIf="isTimeframeLoaded()" [@fadeIn]>
	
	<div class="headwrapper">
			<div><h2>Timeframe</h2></div>
			<div><a mat-flat-button [routerLink]="['/gallery/timeframes']">View All</a></div>
	</div>
	<section class="gallery-cat horscroll full-width">
		<mat-card class="gallery-cat-card" [routerLink]="['/arts/timeframe', timeframe.ID]"
			*ngFor="let timeframe of getTimeframes()" matRipple>
			<div>
				<img mat-card-image src="{{getDataServerURL() + timeframe?.FIMAGE}}" alt="{{ timeframe.TIMEFRAME }}"
					class="gal-mat-card-image" title="Timeframe / {{ timeframe.TIMEFRAME | titlecase }}"
					onerror="this.src='assets/imgs/inf.jpg'">
				<mat-card-content>
					<b>{{timeframe.TIMEFRAME | titlecase}}</b> <br>
					<b>#{{timeframe.COUNT}} Articles</b>
				</mat-card-content>
			</div>
		</mat-card>
	</section>
</div>

<div *ngIf="isLocationLoaded()" [@fadeIn]>
		<div class="headwrapper">
				<div><h2>Locations</h2></div>
				<div><a mat-flat-button [routerLink]="['/gallery/locations']">View All</a></div>

		</div>
	
	<section class="gallery-cat horscroll full-width">
		<mat-card class="gallery-cat-card"  [ngClass]="{'hidden': !+location.COUNT}"
			[routerLink]="['/arts/location', location.ID]" *ngFor="let location of getLocations()" matRipple>
			<div>
				<img mat-card-image src="{{getDataServerURL() + location?.FIMAGE}}" alt="{{ location.LOCATION }}"
					class="gal-mat-card-image" title="Location / {{ location.LOCATION | titlecase }}"
					onerror="this.src='assets/imgs/inf.jpg'">
				<mat-card-content>
					<b>{{location.LOCATION | titlecase}}</b> <br>
					<b>#{{location.COUNT}} Articles</b>
				</mat-card-content>
			</div>
		</mat-card>
	</section>
</div>