<h2>Important Nehal Documents</h2>
<!-- [hidden] makes element present but hidden, *ngIf removes the element -->
<mat-tab-group>
    <mat-tab label="Need and Importance of Peace Education">
        <h2 class="code-line" data-line-start=0 data-line-end=1><a id="Peace_education_0"></a>Peace education</h2>
        <p class="has-line-data" data-line-start="2" data-line-end="3">Peace education activities promote the knowledge,
            skills and attitudes that will help people either to prevent the occurrence of conflict, resolve conflicts
            peacefully, or create social conditions conducive to peace.</p>
        <p class="has-line-data" data-line-start="4" data-line-end="5">Core values of nonviolence and social justice are
            central to peace education. Nonviolence is manifested through values such as respect for human rights,
            freedom and trust. Social justice is realised by principles of equality, responsibility, and solidarity.</p>
        <p class="has-line-data" data-line-start="6" data-line-end="7">In order to achieve these ideals, peace education
            programmes across the world address a wide range of themes. These include nonviolence, conflict resolution
            techniques, democracy, disarmament, gender equality, human rights, environmental responsibility, history,
            communication skills, coexistence, and international understanding and tolerance of diversity.</p>
        <p class="has-line-data" data-line-start="8" data-line-end="9">Peace education can be delivered to people of all
            ages, in both formal and informal settings. Programmes exist at local, national, and international levels,
            and in times of peace, conflict, and post-conflict.</p>
        <p class="has-line-data" data-line-start="10" data-line-end="11">To create public dialogue different factions of
            society are often brought together in peace education programmes – these typically include civil society
            groups, schools, tribal leaders and the media. Yet due to the many areas covered by peace education,
            initiatives are primarily determined by culture and context, as well as by the projects’ scopes and
            objectives.</p>
        <p class="has-line-data" data-line-start="12" data-line-end="13">Peace education and peacebuilding are therefore
            intrinsically linked. The UN’s actions for peacebuilding include education as one of its principle
            components. For peacebuilding initiatives to remain sustainable it is vital that attitudes towards war and
            violence are transformed and translated into long-term behavioural change which seek alternative solutions
            to armed conflict.</p>
        <h2 class="code-line" data-line-start=14 data-line-end=15><a id="Peace_Education_14"></a>Peace Education</h2>
        <p class="has-line-data" data-line-start="16" data-line-end="17">The Peace Education Programme teaches the
            skills and values associated with peaceful behaviours. The programme is designed to enable and encourage
            people to think constructively about issues, both physical and social and to develop constructive attitudes
            towards living together and solving problems that arise in their communities through peaceful means.</p>
        <p class="has-line-data" data-line-start="18" data-line-end="19">The programme allows the learners to practice
            these skills and helps them discover the benefits for themselves so that they psychologically ‘own’ the
            skills and behaviours. To ensure that it is a viable programme, it is essential that peace education is not
            a ‘one-off’ initiative but rather a well structured and sustained programme. None of us learns these
            behaviours instantly and if programmes to change or develop behaviours are to succeed, they must be both
            activity based and sustained through a structured and sustained programme.</p>
        <p class="has-line-data" data-line-start="20" data-line-end="21">The term peace education can cover many areas,
            from advocacy to law reform, from basic education to social justice. This peace education programme is
            designed to develop people’s constructive and peaceful skills, values and behaviours. Ideally this
            complements and supplements the process of peace building, whereby communities and nations develop social
            and economic justice (and legal reform where necessary).</p>
        <h2 class="code-line" data-line-start=22 data-line-end=23><a id="Peace_Education_22"></a>Peace Education</h2>
        <p class="has-line-data" data-line-start="24" data-line-end="26">Peace education aims to resist and confront
            violence and terror to transform a society from state of disturbance to a state of peace and harmony. The
            main focus of peace education is restoration of peace and development through educational means. Peace
            education is an evolutionary step towards changing people’s perception and behaviours to nurture a culture
            of peace. Peace educators transform the minds of people which ultimately culminate in changing of knowledge,
            values, skills and behaviours. This process of transformation is essential to provide a firm foundation to
            the terror or violence affected cultures and societies. Pakistan being a terror affected country is facing
            enormous challenges of peace and development. Many areas of Pakistan have been grossly affected by the
            recent terrorist attacks and violence. Swat, a district in Khyber Pakhtunkhwa province received heavy and
            colossal loss both materially and humanly. This situation rendered children and adult both psychologically
            depressed, socially disintegrated, economically shattered and morally discouraged. In the wake of the
            terrorist waves of violence and disturbance, many peace restoration and reconstruction efforts were
            undertaken to bring the abnormal situation back to normalcy. For this purpose, peace education initiatives
            were started to enable the people restore their confidence and courage to live peacefully. Teachers and
            volunteers’ teams were constituted to educate people and to guide them to help restore their shattered
            confidence and remove fear from their minds. Under these activities many parental and community workshops
            were conducted in many places of the district in which parents, community members and children participated
            equally.<br>
            The basic purpose of these training and educational endeavours were to restore the confidence of the
            communities and to enable them to re-continue their lives peacefully. This was a gigantic task and it still
            continues with more strong social and political support. This study therefore aims to explore the concept
            and importance of peace education in the teaching community.</p>
        <h2 class="code-line" data-line-start=27 data-line-end=28><a id="Peace_Education_Importance_27"></a>Peace
            Education: Importance</h2>
        <p class="has-line-data" data-line-start="29" data-line-end="30">Strategies for achieving peace fall under three
            basic categories: peacekeeping, peacemaking, and peacebuilding. Peacekeeping generally involves police or
            military action and strives to achieve peace through strength and force. Peacemaking involves communication
            skills like conflict resolution and mediation strategies for interacting non-violently with others. Both of
            these categories are reactive approaches that kick in after a violent incident has occurred. Peacebuilding,
            on the other hand, is a more proactive approach that uses peace education as a means of creating a more
            stable and peaceful culture, thereby preventing violent incidents from occurring. Peace education is
            critical to creating a culture that reduces the need for peacemaking and peacekeeping by developing a
            comprehensive program that teaches people how to interact with others and avoid unnecessary aggression.
            Let’s look at the objectives typically found in peace education.</p>
        <h2 class="code-line" data-line-start=31 data-line-end=32><a
                id="Does_Peace_Education_Really_Make_a_Difference_31"></a>Does Peace Education Really Make a Difference?
        </h2>
        <p class="has-line-data" data-line-start="33" data-line-end="34">An inconsistency is pointed out between
            formidable and thus discouraging hurdles facing peace education in the context of intractable conflicts and
            actual, encouraging research findings of such programs. It is suggested that the hurdles pertain to the most
            deep-seated and thus unchangeable convictions constituting the backbone of a group’s collective narrative.
            On the other hand, the change-objects affected by peace education programs pertain to more peripheral
            attitudes and beliefs, which are more easily changeable, more weakly associated with behaviors, and thus
            less consequential. This hypothetical possibility is briefly examined from both a theoretical and practical
            perspective, leading to three clusters of research questions:</p>
        <p class="has-line-data" data-line-start="35" data-line-end="36">(a) Is the proposed distinction between central
            and peripheral attitudes and beliefs applicable to peace education programs?,</p>
        <p class="has-line-data" data-line-start="37" data-line-end="38">(b) How stable are changes of peripheral
            attitudes in the absence of changes of the more central ones?, and</p>
        <p class="has-line-data" data-line-start="39" data-line-end="40">(c) To what extent can only long-term,
            socialization-like programs affect core beliefs and attitudes?</p>
    </mat-tab>


    <mat-tab label="Comparision between Hindi and English in terms of sound and wordorder">
        <p class="has-line-data" data-line-start="0" data-line-end="1"><a
                href="https://www.quora.com/What-are-main-differences-between-Hindi-and-English">https://www.quora.com/What-are-main-differences-between-Hindi-and-English</a>
        </p>
        <p class="has-line-data" data-line-start="2" data-line-end="3">The basic difference is word order. English is
            SVO, while Hindustani is SOV.</p>
        <p class="has-line-data" data-line-start="4" data-line-end="5">E.g. They are ready. vo taiyār hãi. Hãi being the
            verb/copula.</p>
        <p class="has-line-data" data-line-start="6" data-line-end="7">Another difference is the apparent omnipresence
            of the copula in Hindustani. All root tenses end in copula, except the Narrative past tense and the negative
            present tenses. In Southern Hindustani, this copula is lost in almost all present tenses.</p>
        <p class="has-line-data" data-line-start="8" data-line-end="9">E.g.</p>
        <p class="has-line-data" data-line-start="10" data-line-end="15">I eat fruits. Mãi phal khātā hũu. Mãi phal
            khātā(ũu)<br>
            We are watching TV. Ham ṭīvī dekh rahe hãi. Ham ṭīvī dekhre/dekhrãi<br>
            You saw us.<br>
            (While narrating) Tū/Tum/Āp ne hamẽ/hamko dekhā<br>
            Tū/Tum/Āp ne hamẽ/hamko dekhā thā.</p>
        <p class="has-line-data" data-line-start="17" data-line-end="18">Mobile</p>
        <p class="has-line-data" data-line-start="19" data-line-end="21">The differences between English and
            Hindi/Urdu<br>
            Introduction: Hindi is the major language of India. Linguistically and in its everyday spoken form Hindi is
            virtually identical to Urdu, which is the national language of Pakistan. The two languages are often jointly
            referred to as Hindustani or Hindu-Urdu. The differences between them are found in formal situations and in
            writing. Whereas Urdu is written in a form of Arabic script, Hindi is written left to right in a script
            called Devangari. Furthermore, much Urdu vocabulary derives from Persian / Arabic, while Sanskrit is the
            major supplier of Hindi words.</p>
        <p class="has-line-data" data-line-start="22" data-line-end="23">The rest of this brief overview concerns the
            likely areas of interference between Hindi and English, although most of what is listed applies to Urdu too.
        </p>
        <p class="has-line-data" data-line-start="24" data-line-end="25">Alphabet: The Devangari script employed by
            Hindi contains both vowels (10) and consonants (40) and is characterized by bars on top of the symbols.
            Hindi is highly phonetic; i.e. the pronunciation of new words can be reliably predicted from their written
            form. This is in strong contrast to English, with the result that Hindi learners may struggle with English
            spelling. Conversely, they may mispronounce words that they first encounter in writing.</p>
        <p class="has-line-data" data-line-start="26" data-line-end="27">Phonology: In comparison with English Hindi has
            approximately half as many vowels and twice as many consonants. This leads to several problems of
            pronunciation. One difficulty is distinguishing phonemes in words such as said / sad; par / paw; vet / wet,
            etc. Words containing the letters th (this, thing, months) will cause Hindi learners the same kind of
            problems that they cause most other learners of English. The phoneme /icon/ as exemplified by the s in
            pleasure is missing in Hindi and so pronunciation of such words is difficult. Consonants clusters at the
            beginning or end of words are more common in English than Hindi. This leads to errors in the pronunciation
            of words such as straight (istraight), fly (faly), film (filam).</p>
        <p class="has-line-data" data-line-start="28" data-line-end="29">Compared to English Hindi has weak but
            predictable word stress. Learners therefore have considerable difficulty with the irregular stress patterns
            of words such as photograph / photographer. Hindi learners are disinclined to ‘swallow’ unstressed syllables
            such as the first syllables in the words tomorrow, intelligent, remember, etc., and will often try to
            clearly articulate short, common words that are usually weakly stressed in English: has, and, was, to, etc.
        </p>
        <p class="has-line-data" data-line-start="30" data-line-end="31">English, of course, is prevalent in India, and
            for this reason Hindi learners may well be extremely fluent. Nevertheless, native-English speakers often
            have difficulties understanding them because of the combination of the pronunciation problems listed above
            and the use of Hindi intonation patterns. (In Hindi emphasis is accomplished by higher pitch rather than by
            the heavier articulation that typifies English.) The result of this is the sing-song effect that English
            spoken by Hindi learners often has on native-English speakers.</p>
        <p class="has-line-data" data-line-start="32" data-line-end="33">Grammar - Verb/Tense: Hindi has tenses that
            similar those used in English: present simple, past continuous, etc., but there is a lack of correspondence
            in their use to express various meanings. This leads to the very common overuse by Hindi learners of the
            present continuous when in English the present simple is required: I am always playing golf on Sundays. / I
            am not knowing the answer.</p>
        <p class="has-line-data" data-line-start="34" data-line-end="35">Since Hindi does not have the auxiliary do,
            learners are prone to asking questions by means of intonation alone: She has a brother? and to making
            mistakes such as When you got married? or She not eat meat?</p>
        <p class="has-line-data" data-line-start="36" data-line-end="37">In Hindi the future tense is required in the
            dependent clause of conditional 1 sentences. This leads to interference mistakes such as: If you will help
            me, I will help you.</p>
        <p class="has-line-data" data-line-start="38" data-line-end="39">Grammar - Other: Hindi typically uses a
            subjunctive in polite requests, which have the word order of statements rather than questions. Interference
            results in problematic requests such as: You will tell me the time please, or You may lend me your
            dictionary.</p>
        <p class="has-line-data" data-line-start="40" data-line-end="41">There is no definite article in Hindi, and the
            number one is commonly used where in English the indefinite article is needed. As to be expected, these
            differences make it difficult for Hindi learners to get the articles right in English.</p>
        <p class="has-line-data" data-line-start="42" data-line-end="43">There are two aspects of word order that are
            different in Hindi and English. Firstly, the standard word order is in Hindi Subject-Object-Verb as against
            Subject-Verb-Object in English. Secondly, in Hindi the preposition comes after the noun or pronoun it
            qualifies (i.e., it is more correctly called a ‘postposition’. There does not seem to be undue interference
            between the two languages in these areas. However, in common with most learners of English, Hindi
            native-speakers have problems with the correct choice of the English preposition itself. Mistakes such as
            They were sitting on (at) the table are typical.</p>
        <p class="has-line-data" data-line-start="44" data-line-end="45">Vocabulary: Hindi has incorporated numerous
            English words, which is a help to the beginner who quickly wants to acquire a large vocabulary. However, the
            pronunciation of many of the loan words has changed in Hindi. The interference this causes can lead to Hindi
            learners not being comprehensible when they use the words in oral English.</p>


    </mat-tab>
</mat-tab-group>