
<div *ngIf="isTypeLoaded()" [@fadeIn]>
		<div class="headwrapper">
				<div><h2>Type</h2></div>
		</div>
	
	<section class="gallery-cat">
		<mat-card class="gallery-cat-card" [ngClass]="{'hidden': !+type.COUNT}" [routerLink]="['/arts/type', type.ID]"
			*ngFor="let type of getTypes()" matRipple>
			<div *ngIf="type.COUNT">
				<img appLazyLoad mat-card-image src="{{getDataServerURL()+ 'detail_s/' + type?.FIMAGE}}" alt="{{ type.TYPE }}"
					class="gal-mat-card-image" title="Type / {{ type.TYPE | titlecase }}"
					onerror="this.src='assets/imgs/inf.jpg'">
				<mat-card-content>
					<b>{{type.TYPE | titlecase}}</b> <br>
					<b>#{{type.COUNT}} Articles</b>
				</mat-card-content>
			</div>
		</mat-card>
	</section>
</div>