<div *ngIf="isLocationLoaded()" [@fadeIn]>
		<div class="headwrapper">
				<div><h2>Locations</h2></div>
				
		</div>
	
	<section class="gallery-cat">
		<mat-card class="gallery-cat-card"  [ngClass]="{'hidden': !+location.COUNT}"
			[routerLink]="['/arts/location', location.ID]" *ngFor="let location of getLocations()" matRipple>
			<div>
				<img appLazyLoad mat-card-image src="{{getDataServerURL()+ 'preview/' + location?.FIMAGE}}" alt="{{ location.LOCATION }}"
					class="gal-mat-card-image" title="Location / {{ location.LOCATION | titlecase }}"
					onerror="this.src='assets/imgs/inf.jpg'">
				<mat-card-content>
					<b>{{location.LOCATION | titlecase}}</b> <br>
					<b>#{{location.COUNT}} Articles</b>
				</mat-card-content>
			</div>
		</mat-card>
	</section>
</div>