<button mat-raised-button (click)="fetchArts(activatedRoute,activatedRouteID,'1','50')" >First</button>
<button mat-raised-button (click)="fetchArts(activatedRoute,activatedRouteID,+arts.pagination.page-1,'50')">Prev</button>
<button mat-raised-button (click)="fetchArts(activatedRoute,activatedRouteID,+arts.pagination.page+1,'50')">Next</button>
<button mat-raised-button (click)="fetchArts(activatedRoute,activatedRouteID,arts.pagination.totalpages,'50')" >Last</button>

<h6>{{ arts.pagination | json }}</h6>
<h4>{{ activatedRouteData.records | json }}</h4>
<h4>Currently viewing, {{ activatedRoute }}</h4>

<!-- 
	Reduce [useImagesLoaded]="true" from 
	'<ngx-masonry [useImagesLoaded]="true" [options]='
	to atoms if aligment is distorting 
-->
<app-spinner *ngIf="isLoading"></app-spinner>

<ngx-masonry  
		[useImagesLoaded]="true"
		[options]= "{ 
					transitionDuration: 0,
					horizontalOrder: true
					}">

	<div ngxMasonryItem class="masonry-item" *ngFor="let art of arts.records">

		<mat-card class="art-card" [routerLink]="['/arts/showcase', art.ID]" matRipple>
			<div>
			<img mat-card-image 
				src="{{ dataService.dataServerURL + art.URL }}" 
				alt="{{ art.TITLE }}"          
				onerror="this.src='assets/imgs/inf.jpg'">
<!-- 			
			<mat-card-header>
				<mat-card-title>{{ art.TITLE }}</mat-card-title>
				<mat-card-subtitle><a class ="mat-card-art-image" [routerLink]="['/arts/author', art.AUTHOR_ID]">{{ art.AUTHOR }}</a></mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				{{art.TECHNIQUE}} / {{art.SCHOOL}} / {{art.FORM}} / {{art.TYPE}} / {{art.LOCATION}}
			</mat-card-content> 
-->
			<mat-card-content>
				<b>{{art.TITLE}}</b> <br> 
				<a class ="mat-card-art-image" [routerLink]="['/arts/author', art.AUTHOR_ID]">{{ art.AUTHOR }}</a> 
				/ {{art.DATE}} 
			</mat-card-content> 
		</div>
		</mat-card>
	</div>
</ngx-masonry>






