.masonry-item{ 
    width: 240px; 
    margin: 0.3rem;
}
.mat-card-art-image{
    text-decoration: none;
    color:  inherit;
}
.mat-card-art-image:hover{
    color:  black;
}
.mat-card-image{
    cursor: pointer !important;
}