.masonry-item {
  width: calc(25% - 1rem);
  min-width: 14rem;
  max-width: 20rem;
  margin: 0.4rem;
  .mat-card-content {
    color: var(--themeColor);
  }
}
.mat-card-image {
  cursor: pointer !important;
}
.transcard {
  background: none;
  box-shadow: none;
}

a {
  background: none;
  &:hover {
    text-decoration: none;
    color: var(--standoutColor);
  }
}
.arts-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  .arts-info-data {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    margin: 0 5em;

    .image-holder {
      margin: 2em;
      border-radius: 0.5em;
      background-size: cover;
      min-width: 15em;
      max-height: 15em;
    }
    .arts-info-cats {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      a {
        background: none;
        &:hover {
          text-decoration: none;
          color: var(--standoutColor);
        }
      }
      h4 {
        color: var(--themeColor) !important;
        min-width: 4em;
      }
      .arts-info-list {
        text-decoration: none;
        list-style-type: none;
        display: inline-flex;
        margin: 0 5px;
        color: var(--themeColor) !important;
      }
    }
  }
}

.input-list {
  width: 7rem;
  font-size: 0.9rem;
}

.mat-grid-imgs {
  object-fit: cover;
  height: inherit;
  width: 100%;
  &:hover + .grid-item-info {
    display: block;
  }
}
.grid-item-info {
  position: absolute;
  bottom: 0;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  &:hover {
    display: block;
  }
}
