<button mat-raised-button (click)="fetchArts(activatedRoute,activatedRouteID,'1','50')" >First</button>
<button mat-raised-button (click)="fetchArts(activatedRoute,activatedRouteID,+arts.pagination.page-1,'50')">Prev</button>
<button mat-raised-button (click)="fetchArts(activatedRoute,activatedRouteID,+arts.pagination.page+1,'50')">Next</button>
<button mat-raised-button (click)="fetchArts(activatedRoute,activatedRouteID,arts.pagination.totalpages,'50')" >Last</button>

<h6>{{ arts.pagination | json }}</h6>
<h4>{{ activatedRouteData.records | json }}</h4>
<!-- 
	Reduce [useImagesLoaded]="true" from 
	'<ngx-masonry [useImagesLoaded]="true" [options]='
	to atoms if aligment is distorting 
-->
<ngx-masonry  [useImagesLoaded]="true"
[options]= "{ 
			transitionDuration: '0.8s',
			horizontalOrder: true
			}">
	<div ngxMasonryItem class="masonry-item" *ngFor="let art of arts.records">
		<mat-card class="art-card" [routerLink]="['/arts/showcase', art.ID]">
			<mat-card-header>
			<mat-card-title>{{ art.TITLE }}</mat-card-title>
			<mat-card-subtitle>{{ art.AUTHOR }}</mat-card-subtitle>
			</mat-card-header>
			<img mat-card-image src="{{ dataService.dataServerURL + art.URL }}" alt="{{ art.TITLE }}">
			<mat-card-content>
				{{art.TECHNIQUE}} / {{art.SCHOOL}} / {{art.FORM}} / {{art.TYPE}} / {{art.LOCATION}}
			</mat-card-content>
		</mat-card>
	</div>
</ngx-masonry>






