<div class="arts-info"
	 *ngIf="!infoLoading">
	<div>
		<a mat-flat-button 
		(click)="getFilteredArts(artComData.pageRoute.substr(0, 2)+'='+artComData.pageID, 1, artComData.pageSize)">
			<h2>INFO / {{artComData.pageRoute | uppercase}} / {{ artComData.pageRouteData.records[0][artComData.pageRoute.toUpperCase()] | uppercase}}</h2>
		</a>
	</div>
	<div class="arts-info-data">
		<div class="image-holder" 
		[ngStyle]="{'background-image':'url('+dataService.dataServerURL + artComData.pageRouteData.records[0]?.FIMAGE+')'}"
		>
				
		</div>
		<div *ngFor="let eles of artComData.pageRouteData.records">
<!-- 			<ul *ngIf="artComData.pageRoute!='author'" >
					<li *ngFor="let ele of eles.AUTHOR" class="arts-info-list">
						<a mat-flat-button [routerLink]="['/arts/author', ele.ID]">{{ele.VALUE | titlecase}}</a>
					</li>
			</ul> -->
			<div class="arts-info-cats" *ngIf="artComData.pageRoute!='form'">
				<h4>Form</h4>
				<ul  >
						<li *ngFor="let ele of eles.FORM" class="arts-info-list">
							<a mat-flat-button 
							(click)="getFilteredArts(artComData.pageRoute.substr(0, 2)+'='+artComData.pageID+'&fo='+ele.ID,1,artComData.pageSize)">
							{{ele.VALUE | titlecase}}</a>
						</li>
				</ul>
			</div>
			<div class="arts-info-cats" *ngIf="artComData.pageRoute!='school'">
				<h4>School</h4>
				<ul  >
						<li *ngFor="let ele of eles.SCHOOL" class="arts-info-list">
							<a mat-flat-button 
							(click)="getFilteredArts(artComData.pageRoute.substr(0, 2)+'='+artComData.pageID+'&sc='+ele.ID,1,artComData.pageSize)">
							{{ele.VALUE | titlecase}}</a>
						</li>
				</ul>
			</div>
<!-- 			<ul *ngIf="artComData.pageRoute!='location'" >
					<li *ngFor="let ele of eles.LOCATION" class="arts-info-list">
						<a mat-flat-button [routerLink]="['/arts/location', ele.ID]">{{ele.VALUE | titlecase}}</a>
					</li>
			</ul> -->
			<div class="arts-info-cats" *ngIf="artComData.pageRoute!='timeframe'">
				<h4>Timeframe</h4>
				<ul  >
						<li *ngFor="let ele of eles.TIMEFRAME" class="arts-info-list">
							<a mat-flat-button 
							(click)="getFilteredArts(artComData.pageRoute.substr(0, 2)+'='+artComData.pageID+'&ti='+ele.ID,1,artComData.pageSize)">{{ele.VALUE | titlecase}}</a>
						</li>
				</ul>
			</div>
			<div class="arts-info-cats" *ngIf="artComData.pageRoute!='type'">
				<h4>Type</h4>
				<ul  >
						<li *ngFor="let ele of eles.TYPE" class="arts-info-list">
							<a mat-flat-button 
							(click)="getFilteredArts(artComData.pageRoute.substr(0, 2)+'='+artComData.pageID+'&ty='+ele.ID,1,artComData.pageSize)">{{ele.VALUE | titlecase}}</a>
						</li>
				</ul>
			</div>
		
		</div>
	</div>
</div>







<div class="navigation-bar" *ngIf="!infoLoading&&!artsLoading">
  <!-- (click)="fetchArts(artComData.pageRoute, artComData.pageID, artComData.pageCurr -1, artComData.pageSize)"  -->
  <button mat-mini-fab 
  	(click)="getFilteredArts(activeFilter, artComData.pageCurr-1, artComData.pageSize)" 
	*ngIf="artComData.pageCurr!=1" 
	style="margin-right: auto;" 
	class="nav-button" matRipple>
	<mat-icon>navigate_before</mat-icon>
  </button>
  <mat-card class="nav-header">
	<h2>ARTS / {{artComData.pageRoute | uppercase}} / {{ artComData.pageRouteData.records[0][artComData.pageRoute.toUpperCase()] | uppercase}} (#{{artComData.totalElement}})</h2>
	<div class="nav-paginator">
	<mat-form-field>
		<mat-label>Page</mat-label>
		<mat-select [(ngModel)]="artComData.pageCurr">
			<mat-option 
			*ngFor="let item of [].constructor(artComData.pageTotal); let i = index" [value]="i+1"
			(click)="getFilteredArts(activeFilter, i+1, artComData.pageSize)">
			<!-- (click)="fetchArts(artComData.pageRoute, artComData.pageID, i+1, artComData.pageSize)" -->
			Page {{i+1}}
			</mat-option>
		</mat-select>
	</mat-form-field>
	<h3 style="margin-left:1em"> of {{artComData.pageTotal}} (#{{artComData.pageElement}})</h3>
	</div>
  </mat-card>
  <!-- (click)="fetchArts(artComData.pageRoute, artComData.pageID, artComData.pageCurr +1, artComData.pageSize)" -->
  <button mat-mini-fab 
  	(click)="getFilteredArts(activeFilter, artComData.pageCurr+1, artComData.pageSize)" 
	*ngIf="artComData.pageCurr!=artComData.pageTotal"
	style="    margin-left: auto;"
	class="nav-button" matRipple>
	<mat-icon>navigate_next</mat-icon>
  </button>
</div>
<!-- 
	Reduce [useImagesLoaded]="true" from 
	'<ngx-masonry [useImagesLoaded]="true" [options]='
	to atoms if aligment is distorting 
-->
<app-spinner *ngIf="infoLoading||artsLoading"></app-spinner>



<ngx-masonry  
		[useImagesLoaded]="true"
		[options]= "{ 
					transitionDuration: 0.5,
					horizontalOrder: true
					}"
		*ngIf="!infoLoading&&!artsLoading" [@fadeIn]>

	<div ngxMasonryItem class="masonry-item" *ngFor="let art of arts.records">

		<mat-card class="art-card" [routerLink]="['/arts/showcase', art.ID]" matRipple>
			<div>
			<img mat-card-image 
				src="{{ dataService.dataServerURL + art.URL }}" 
				alt="{{ art.TITLE }}"          
				onerror="this.src='assets/imgs/inf.jpg'">
<!-- 			
			<mat-card-header>
				<mat-card-title>{{ art.TITLE }}</mat-card-title>
				<mat-card-subtitle><a class ="mat-card-art-image" [routerLink]="['/arts/author', art.AUTHOR_ID]">{{ art.AUTHOR }}</a></mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				{{art.TECHNIQUE}} / {{art.SCHOOL}} / {{art.FORM}} / {{art.TYPE}} / {{art.LOCATION}}
			</mat-card-content> 
-->
			<mat-card-content>
				<b>{{art.TITLE}}</b> <br> 
				<a title="Article Author" class ="mat-card-art-image" [routerLink]="['/arts/author', art.AUTHOR_ID]">{{ art.AUTHOR }}</a> 
				/ <span title="Article Date">{{art.DATE}} </span><br>
				<span title="Technique">{{art.TECHNIQUE | titlecase}}</span> <br>
				<a title="Art School" class ="mat-card-art-image" [routerLink]="['/arts/school', art.SCHOOL_ID]">{{art.SCHOOL | titlecase}}</a> /
				<a title="Art Form" class ="mat-card-art-image" [routerLink]="['/arts/form', art.FORM_ID]">{{art.FORM | titlecase}}</a> /
				<a title="Art Type" class ="mat-card-art-image" [routerLink]="['/arts/type', art.TYPE_ID]">{{art.TYPE | titlecase}}</a> /
				<a title="Timeframe of this Article" class ="mat-card-art-image" [routerLink]="['/arts/timeframe', art.TIMEFRAME_ID]">{{art.TIMEFRAME}}</a> /
				<a title="Location of this Article" class ="mat-card-art-image" [routerLink]="['/arts/location', art.LOCATION_ID]">{{art.LOCATION | titlecase}}</a>
			</mat-card-content> 
		</div>
		</mat-card>
	</div>
</ngx-masonry>






