.TDShadowText {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}
.main-text {
  font-family: var(--usedH-font-stack);
  font-size: 4em;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  font-variant: inherit;
  color: var(--bodyColor);
  padding: 0.5em 0;
  user-select: none;
  text-align: center;
  letter-spacing: 5px;
  -webkit-font-smoothing: antialiased;
}

.center {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.bgClip {
  background: url("https://www.wga.hu/detail/v/vermeer/03b/22pearl1.jpg");

  background-repeat: none;
  background-position: 0 0;
  font-size: 8rem;
  text-transform: uppercase;
  text-align: center;
  color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  line-height: 1;
}

.home-item {
  box-shadow: none;
  background: none;
  max-height: 100vh;
  overflow: hidden;
  padding: 0;

  .hitem-wrapper {
    max-height: 100vh;
    height: 100vh;
    object-fit: cover;
    margin: 0;
  }
  mat-card-content {
    position: absolute;
    bottom: 0%;
    padding: 2rem 2rem;
    width: calc(100% - 4rem);
    color: var(--bodyColor);
    background: rgba(0, 0, 0, 0.5);
    margin: 0;
    a {
      color: var(--bodyColor) !important;
    }
  }
}

.home-item-side {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  .hitem-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
height: 100%;
    .img-wrapper {
      width: 50%;
      padding: 2rem;
      height: 100%;
      img{
        object-fit: contain !important;
    height: calc(100% - 2rem);
      }
    }
    mat-card-content {
      width: 50%;
      padding: 2rem;
      color:var(--themeColor);
    }
  }
}




.object-contain {
  object-fit: contain !important;
}
.object-cover {
  object-fit: cover !important;
}
.active {
  color: var(--activatedColor);
}

.front-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
.front-items {
  outline: none;
  font-family: inherit;
  font-weight: bold;
  line-height: 1.3rem;
  position: relative;
  text-decoration: none;
  padding: 2rem 1rem;
  font-size: 1em;
  background-color: var(--themeColor);
  color: var(--bodyColor);
  width: 15rem;
  transition: all 0.4s ease-in-out;
  border-radius: 0.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5rem;
  
  &:hover {
    box-shadow: 3px 3px #333, 6px 6px #777, 9px 9px #ddd;
    -webkit-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
    background-color: var(--bodyColor);
    color: var(--themeColor);
  }
  &:active {
    transform: translate(0px, 0px);
    box-shadow: none;
  }
  mat-icon{
    transform: scale(2);
    margin: 0rem 2rem 0rem 1rem;
  }
}
.frontline{
  min-height: calc(100vh - 64px);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.pexels.com/photos/20967/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  //background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.pexels.com/photos/21264/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  
  background-size: cover;
  transform: translate(-6rem, -2rem);
  width: calc(100% + 12rem);
  //    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  .hitem-wrapper{
    padding:2rem 6rem;
  }
}
.box {
  position: relative;
  padding: 20px 0;
  overflow: hidden;
  border-radius: 10px;
}
.box:before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  float: left;
  border-radius: 50px;
  box-shadow: 0 0 0 350px rgba(0, 0, 0, 1);
}
.outer:before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: blue;
  border-radius: 20px;
  position: absolute;
  top: 25px;
  left: -20px;
}


.chillquote {
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: left;
  padding: 1em;
  color: var(--bodyColor);
  height: 4em;
  font-family: var(--usedH-font-stack);
  text-align: center;
  overflow: hidden;
}

.chillquote div {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}

div.first {
  /* For increasing performance 
                         ID/Class should've been used. 
                         For a small demo 
                         it's okaish for now */
  animation: showup 10s infinite;
}

div.second {
  width: 0px;
  animation: reveal 10s infinite;
}

div.second span {
  margin-left: -50rem;
  animation: slidein 10s infinite;
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: auto;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: auto;
  }
}
.home-item{
  display: none;
}
.home-item-side{
  display: block;
}
