<div class="frontline screenwidth">
      <div class="hitem-wrapper">
            <div class="TDShadowText main-text ">
                  <span>Simple yet Elegant</span>
            </div>

            <div class="chillquote">
                  <div class="first">
                        <mat-icon> format_quote</mat-icon>
                  </div>
                  <div class="second">
                        <span>{{ randomQ.quote }} <i><span style="font-size: 0.5em;">~ {{ randomQ.author }}</span></i>
                        </span>
                  </div>
            </div>

            <h5 style="color: var(--bodyColor);">Get Started - What do you have in mind?</h5>
            <div class="front-wrap">

                  <div class="front-items" [routerLink]="['/gallery']">
                        <mat-icon>dashboard</mat-icon>
                        <span>I'm just browsing.</span>
                  </div>
                  <div class="front-items" [routerLink]="['/filter']">
                        <mat-icon>gps_fixed</mat-icon>
                        <span>I know what I'm looking for.</span>
                  </div>
                  <div class="front-items" [routerLink]="['/info/contact']">
                        <mat-icon>comment</mat-icon>
                        <span>I have to say something.</span>
                  </div>
                  <div class="front-items" (click)="showSlide()" *ngIf="!isPageLoading()">
                        <mat-icon>slideshow</mat-icon>
                        <span>I'm not sure, show me something interesting.</span>
                  </div>


            </div>
      </div>


</div>

<!-- 
      <h1 class="bgClip">Mercurial <br>Gallery of<br>Art</h1> 
 -->

<!-- 
[routerLink]="['/arts/showcase', art.ID]"
appParallax [ratio]="-0.3"
 -->
<mat-card class="home-item-side " *ngFor="let art of getFetchedArts().records" id="small-slide-show">
      <div *ngIf="!isPageLoading()" [@fadeIn] class="hitem-wrapper">
            <div class="img-wrapper">
                  <img mat-card-image src="{{ getdataServerURL() + 'art/'+ art.URL }}" alt="{{ art.TITLE }}"
                        onerror="this.src='assets/imgs/inf.jpg'" [ngClass]="status ? 'object-contain' : 'object-cover'">
            </div>
            <mat-card-content>
                  <div style="display: flex;
                                    align-items: center;
                                    justify-content: space-between;">
                        <h4 style="font-size: 1.5em;line-height: 2em;">
                              <a [routerLink]="['/arts/showcase', art.ID]">
                                    {{art.TITLE}}
                              </a>
                        </h4>

                        <div>
                              <button mat-icon-button (click)="isSlide=!isSlide"
                                    [matTooltip]="isSlide ? 'Auto Slideshow On' : 'Auto Slideshow Off'">
                                    <mat-icon [ngClass]="isSlide ? 'active' : ''" style="font-size: 2rem;">autorenew
                                    </mat-icon>
                              </button>
                              <button mat-icon-button (click)="fillRandomArt()" matTooltip="Shuffle">
                                    <mat-icon style="font-size: 2rem;">shuffle</mat-icon>
                              </button>
                        </div>

                  </div>
                  <div style="display: flex;
                                    align-items: center;
                                    justify-content: flex-start">
                        <mat-icon>label</mat-icon>
                        <span style="margin:0 1em">
                              <span style="font-size: 1.1em; font-weight: bold;"><a title="Author"
                                          class="mat-card-art-image"
                                          [routerLink]="['/arts/author', art.AUTHOR_ID]">{{ art.AUTHOR }}</a> </span>
                              {{ art.BORN_DIED }}<br>
                              <span title="Date Created">{{art.DATE}}</span> /
                              <span title="Technique">{{art.TECHNIQUE | titlecase}}</span> <br>
                              <a title="Art School" class="mat-card-art-image"
                                    [routerLink]="['/arts/school', art.SCHOOL_ID]">{{art.SCHOOL | titlecase}}</a> /
                              <a title="Art Form" class="mat-card-art-image"
                                    [routerLink]="['/arts/form', art.FORM_ID]">{{art.FORM | titlecase}}</a> /
                              <a title="Art Type" class="mat-card-art-image"
                                    [routerLink]="['/arts/type', art.TYPE_ID]">{{art.TYPE | titlecase}}</a> /
                              <a title="Timeframe of this Article" class="mat-card-art-image"
                                    [routerLink]="['/arts/timeframe', art.TIMEFRAME_ID]">{{art.TIMEFRAME}}</a> /
                              <a title="Location of this Article" class="mat-card-art-image"
                                    [routerLink]="['/arts/location', art.LOCATION_ID]">{{art.LOCATION | titlecase}}</a>
                        </span>
                  </div>

            </mat-card-content>
      </div>
</mat-card>


<mat-card class="home-item screenwidth" *ngFor="let art of getFetchedArts().records" >
      <div *ngIf="!isPageLoading()" [@fadeIn] class="hitem-wrapper">
            <img mat-card-image src="{{ getdataServerURL() + 'art/'+ art.URL }}" alt="{{ art.TITLE }}"
                  onerror="this.src='assets/imgs/inf.jpg'" class="hitem-wrapper"
                  [ngClass]="status ? 'object-contain' : 'object-cover'">
            <mat-card-content>
                  <div style="display: flex;
                              align-items: center;
                              justify-content: space-between;">
                        <h4 style="font-size: 1.5em;line-height: 2em;">
                              <a [routerLink]="['/arts/showcase', art.ID]">
                                    {{art.TITLE}}
                              </a>
                        </h4>

                        <div>
                              <button mat-icon-button (click)="isSlide=!isSlide"
                                    [matTooltip]="isSlide ? 'Auto Slideshow On' : 'Auto Slideshow Off'">
                                    <mat-icon [ngClass]="isSlide ? 'active' : ''" style="font-size: 2rem;">autorenew
                                    </mat-icon>
                              </button>
                              <button mat-icon-button (click)="status=!status"
                                    [matTooltip]="status ? 'Orientation Contain' : 'Orientation Cover'">
                                    <mat-icon style="font-size: 2rem;">crop_free</mat-icon>
                              </button>
                              <button mat-icon-button (click)="fillRandomArt()" matTooltip="Shuffle">
                                    <mat-icon style="font-size: 2rem;">shuffle</mat-icon>
                              </button>
                        </div>

                  </div>
                  <div style="display: flex;
                              align-items: center;
                              justify-content: flex-start">
                        <mat-icon>label</mat-icon>
                        <span style="margin:0 1em">
                              <span style="font-size: 1.1em; font-weight: bold;"><a title="Author"
                                          class="mat-card-art-image"
                                          [routerLink]="['/arts/author', art.AUTHOR_ID]">{{ art.AUTHOR }}</a>
                                    {{ art.BORN_DIED }} </span><br>
                              <span title="Date Created">{{art.DATE}}</span> /
                              <span title="Technique">{{art.TECHNIQUE | titlecase}}</span> <br>
                              <a title="Art School" class="mat-card-art-image"
                                    [routerLink]="['/arts/school', art.SCHOOL_ID]">{{art.SCHOOL | titlecase}}</a> /
                              <a title="Art Form" class="mat-card-art-image"
                                    [routerLink]="['/arts/form', art.FORM_ID]">{{art.FORM | titlecase}}</a> /
                              <a title="Art Type" class="mat-card-art-image"
                                    [routerLink]="['/arts/type', art.TYPE_ID]">{{art.TYPE | titlecase}}</a> /
                              <a title="Timeframe of this Article" class="mat-card-art-image"
                                    [routerLink]="['/arts/timeframe', art.TIMEFRAME_ID]">{{art.TIMEFRAME}}</a> /
                              <a title="Location of this Article" class="mat-card-art-image"
                                    [routerLink]="['/arts/location', art.LOCATION_ID]">{{art.LOCATION | titlecase}}</a>
                        </span>
                  </div>

            </mat-card-content>
      </div>
</mat-card> 
