<footer class="footer">
	<div class="footer-container">
		<section class="footer-content">
			<div class="f-c-info">
                <mat-card class="footer-columns">
					
						<h4 class="">For the People, By the People</h4>
					
                    <mat-card-content class="">
						<span>The Mercurial Gallery of Art is intended to be a free resource of art history primarily for students and teachers. It is a private initiative not related to any museums or art institutions, and not supported financially by any state or corporate sponsors. However, we do our utmost, using authentic literature and advice from professionals, to ensure the quality and authenticity of the content.</span>
                    </mat-card-content>
                </mat-card>
				<mat-card class="footer-columns">
						
							<h4 class="">Greatness Inspires Greatness</h4>
						
					<mat-card-content class="">
						<span>Inspired by many other fellow projects making world’s art accessible to anyone and anywhere</span>
                        <ul>
                                <li><a href="https://www.wga.hu/" target="_blank">Web Gallery of Art</a></li>
                                <li><a href="https://www.wikiart.org/" target="_blank">Wikiart</a></li>
                                <li><a href="https://artsandculture.google.com/" target="_blank">Google Arts & Culture</a></li>
                            </ul>

					</mat-card-content>
				</mat-card>
				<mat-card class="footer-columns">
						
							<h4 class="">Make it yours</h4>
						
					<mat-card-content class="">
						<span>This application is made with best in the field frameworks and is yours to take. You can either download the source code or make your own web application, just follow the links below to get started.</span>
						<ul>
							<li><a href="https://angular.io/" target="_blank">Angular</a></li>
							<li><a href="https://material.angular.io" target="_blank">Angular Material</a></li>
							<li><a href="http://www.slimframework.com/" target="_blank">Slim Framework</a></li>
							<li><a href="https://mariadb.org/" target="_blank">MariaDB</a></li>
						</ul>

					</mat-card-content>
				</mat-card>
			</div>
			<div class="footer-content-links">
				<a href="https://sizilkrishna.web.app/" target="_blank" class="footer-links">
					<h3 style="margin: 0em;">&copy;	Mercurial</h3>
				</a>
				<span class="footer-links" >
					<div class="">
						<a [routerLink]="['/info/about']" class="footer-links-anchor" rel="noopener">About</a>
						<a [routerLink]="['/info/help']" class="footer-links-anchor" rel="noopener">Help</a>
						<a [routerLink]="['/info/legal']" class="footer-links-anchor" rel="noopener">Legal</a>
						<a [routerLink]="['/info/nehal']" class="footer-links-anchor" rel="noopener">Nehal</a>
					</div>
				</span>
			</div>
		</section>
	</div>
</footer>
