.footer-content {
  padding: 1em 4em;
background: darkgray;

}

.f-c-info, .footer-content-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.f-c-info {
  border-bottom: 1px solid #eee !important;
}

.footer-columns {
  flex: 1 1 0px;
  padding: 2em;
  background: transparent;
  box-shadow: none;
  min-width: 200px;
  line-height: 1.2em;
}

.footer-links {
  margin: 2em;
  font-family: var(--usedH-font-stack);
    font-weight: bold;
}
.footer-links-anchor{
  margin-left: 1em;
}