<div>

    <h2>About</h2>

    <table style="width:100%" cellspacing="20">
            <col width="15%">
            <col width="5%">
            <col width="80%">
    <tr>
        <td><strong>Purpose</strong></td>
        <td>:</td>
        <td>A Web Gallery to categorise and display paintings and arts.</td>
    </tr>
    <tr>
        <td> <strong>Technologies Used</strong></td>
        <td>:</td>
        <td>Angular, Angular Material, SLIM PHP, MARIA DB</td>
    </tr>
    <tr>
        <td> <strong>Feedback Requested</strong></td>
        <td>:</td>
        <td>Overall placement of items and in general CSS of the webpage. I am more of a developer than
                an artist.</td>
    </tr>
    <tr>
        <td> <strong>Comments</strong></td>
        <td>:</td>
        <td>I am a hobbyist but i would love learn the perfection of the design to implement for smooth and
                soothing experience. As for now, i grab what i see and implement it by any means possible, which makes me jump to
                and fro from one design of the same element to another. I have started web design lessons but would love to get the
                feedback from public and experts directly.</td>
    </tr>
            
    </table>

     

    

    

     

    <p>
        The <strong>Mercurial Gallery of Art</strong> is my hobby project and thus is always in need of improvement and
        modification.
    </p>
    <p>
        I do not own any of the images displayed on this webpage, however i do own every statement of the code of
        this web app along with the API. The images are not stored at my server but are symlinked to another great
        webpage <a href="https://www.wga.hu/index.html" target="blank"> Web Gallery of Art</a>, which has been not only
        the inspiration
        but a helpful public domain for decades.
    </p>



</div>