<div>
    <div>
        <h3>About</h3>
    </div>
    <div>
        <p>
            The <strong>Mercurial Gallery of Art</strong> is my hobby project and thus is always in need of improvement and
            modification.
        </p>
        <p>
            I do not own any of the images displayed on this webpage, however i do own every statement of the code of
            this web app along with the API. The images are not stored at my server but are symlinked to another great
            webpage <a href="https://www.wga.hu/index.html" target="blank"> Web Gallery of Art</a>, which has been not only the inspiration
            but a helpful public domain for decades.
        </p>
    </div>
</div>