<div class="image-viewer-container">
    <app-image-viewer 
    [images]="[artURL]"
    [loadOnInit]="true"
    [idContainer]="'idOnHTML'"
    [showOptions]="true"
    >
    </app-image-viewer>
    <div style="text-align: center;" *ngIf="activatedRouteArt.records">
        <span style="font-size:1.3em;font-weight: bold;">{{ activatedRouteArt.records[0].TITLE }}</span><br>
        <span>{{ activatedRouteArt.records[0].AUTHOR }}  {{ activatedRouteArt.records[0].BORN_DIED }}</span><br>
    </div>
</div>
<div *ngIf="activatedRouteArt.records">
    <div class="showcase-header">
        <span>Details</span>
    </div>
    <div class="showcase-description">
        <span>Title: </span><span>{{ activatedRouteArt.records[0].TITLE }}</span><br>
        <span>Creator: </span><span><a [routerLink]="['/arts/author', activatedRouteArt.records[0].AUTHOR_ID]">{{ activatedRouteArt.records[0].AUTHOR }}  {{ activatedRouteArt.records[0].BORN_DIED }}</a></span><br>
        <span>Date Created: </span><span>{{ activatedRouteArt.records[0].DATE }}</span><br>
        <span>Technique: </span><span>{{ activatedRouteArt.records[0].TECHNIQUE }}</span><br>
        <span>Form: </span><span><a [routerLink]="['/arts/form', activatedRouteArt.records[0].FORM_ID]">{{ activatedRouteArt.records[0].FORM | titlecase}}</a></span><br>
        <span>Location: </span><span><a [routerLink]="['/arts/location', activatedRouteArt.records[0].LOCATION_ID]">{{ activatedRouteArt.records[0].LOCATION | titlecase}}</a></span><br>
        <span>School: </span><span><a [routerLink]="['/arts/school', activatedRouteArt.records[0].SCHOOL_ID]">{{ activatedRouteArt.records[0].SCHOOL | titlecase}}</a></span><br>
        <span>Type: </span><span><a [routerLink]="['/arts/type', activatedRouteArt.records[0].TYPE_ID]">{{ activatedRouteArt.records[0].TYPE | titlecase}}</a></span><br>
        <span>Timeframe: </span><span><a [routerLink]="['/arts/timeframe', activatedRouteArt.records[0].TIMEFRAME_ID]">{{ activatedRouteArt.records[0].TIMEFRAME }}</a></span><br>
        
    </div>

</div>
