.showcase-header {
  margin: 3em 0 1em 0;
  font-weight: bold;
  font-size: 1.2em;
}
.image-viewer-container {
  box-shadow: none;
  background: none;
  max-height: 100vh;
  overflow: hidden;
  padding: 0;
  width: calc(100% + 12rem);
  transform: translate(-6rem, 0);
}
