.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.sidenav span{
	position:center;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
  background: #fff;
  color: #666;
  box-shadow: 0px 1px 10px #666;
  font-family:Roboto;
}

.spacer{
	flex: 1 1 auto;
}
.center {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.mat-toolbar h2{
  font-family: Georgia;
  font-size: 1.7em;
}