<mat-form-field appearance="outline" style="width:100%">
	<mat-label>Search</mat-label>
	<input matInput #query name="query" placeholder="Enter keywords . . ." (keydown.enter)="apiSearch(query.value, searchQueryData.pageCurr, searchQueryData.pageSize)">
	<mat-icon matSuffix (click)="apiSearch(query.value, searchQueryData.pageCurr, searchQueryData.pageSize)" style="cursor:pointer;">search</mat-icon>
	<mat-hint>Max 50 characters.</mat-hint>
	<mat-error *ngIf="!!query.value.trim()">
		Email is <strong>required</strong>
	</mat-error>
</mat-form-field>
<app-spinner *ngIf="searchQueryData.inProgress"></app-spinner>
<div *ngIf="searchQueryData.nullResult" style=" margin: 3em 0;
                                                font-size: 1.2em;">
        #0 Results found for <i>{{searchQueryData.searchQuery}}</i>
</div>
<div *ngIf="!searchQueryData.inProgress && searchQueryData.totalElement > 0 && !searchQueryData.nullResult">
	<div style="display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	min-height: 5em;
	margin: 4em 0;
	text-align: center;">

		<button mat-mini-fab 
			(click)="apiSearch(searchQueryData.searchQuery, searchQueryData.pageCurr-1, searchQueryData.pageSize)" 
			*ngIf="searchQueryData.pageCurr!=1"
			style="    margin-right: auto;
			cursor: pointer;
			background-color: inherit;
			color: #666;" matRipple>
			<mat-icon>navigate_before</mat-icon>
		</button>
		<mat-card style="position: absolute;
		left: 50%;
		transform: translate(-50%, 0px);
		box-shadow: none;
		background: none;">
			<h2>Found #{{ searchQueryData.totalElement }} results!</h2>
			<div style="display: flex;
			justify-content: center;
			align-content: center;">
				<mat-form-field>
					<mat-label>Page</mat-label>
					<mat-select [(ngModel)]="searchQueryData.pageCurr">
						<mat-option 
			     *ngFor="let item of [].constructor(searchQueryData.pageTotal); let i = index" [value]="i+1"
			     (click)="apiSearch(searchQueryData.searchQuery, i+1, searchQueryData.pageSize)">
							Page {{i+1}}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<h3 style="margin-left:1em"> of {{searchQueryData.pageTotal}} (#{{searchQueryData.pageElement}})</h3>
			</div>
		</mat-card>
		<button mat-mini-fab 
			(click)="apiSearch(searchQueryData.searchQuery, searchQueryData.pageCurr+1, searchQueryData.pageSize)" 
			*ngIf="searchQueryData.pageCurr!=searchQueryData.pageTotal"
			style="    margin-left: auto;
			cursor: pointer;
			background-color: inherit;
			color: #666;">
			<mat-icon>navigate_next</mat-icon>
		</button>

	</div>



	<ngx-masonry  
			[useImagesLoaded]="true"
			[options]= "{ 
			transitionDuration: 0,
			horizontalOrder: true
			}">

		<div ngxMasonryItem class="masonry-item" *ngFor="let art of searchQueryData.searchData.records">

			<mat-card class="art-card" [routerLink]="['/arts/showcase', art.ID]" matRipple>
				<div>
					<img mat-card-image 
					     src="{{ dataService.dataServerURL + art.URL }}" 
					     alt="{{ art.TITLE }}"          
					     onerror="this.src='assets/imgs/inf.jpg'">
					<!-- 			
	     <mat-card-header>
	     <mat-card-title>{{ art.TITLE }}</mat-card-title>
	     <mat-card-subtitle><a class ="mat-card-art-image" [routerLink]="['/arts/author', art.AUTHOR_ID]">{{ art.AUTHOR }}</a></mat-card-subtitle>
	     </mat-card-header>
	     <mat-card-content>
	     {{art.TECHNIQUE}} / {{art.SCHOOL}} / {{art.FORM}} / {{art.TYPE}} / {{art.LOCATION}}
	     </mat-card-content> 
					-->
					<mat-card-content>
						<b>{{art.TITLE}}</b> <br> 
						<a title="Article Author" class ="mat-card-art-image" [routerLink]="['/arts/author', art.AUTHOR_ID]">{{ art.AUTHOR }}</a> 
						/ <span title="Article Date">{{art.DATE}} </span>
					</mat-card-content> 
				</div>
			</mat-card>
		</div>
	</ngx-masonry>
</div>
