.masonry-item{ 
    width: calc(25% - 1em);
    min-width: 14em;
    margin: 0.4rem;
    .mat-card-content{
        color: var(--themeColor);
    }
}
.mat-card-image{
    cursor: pointer !important;
}
.transcard{
    background: none;
    box-shadow: none;
}