@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Cinzel|Cinzel+Decorative|Lobster|Merriweather:400,700|Playfair+Display&display=swap');
:root {
    --themeColor: #666;
    --bodyColor:  #fff;
    --activatedColor: rgb(33, 118, 197);
    --standoutColor: rgb(18, 66, 109);
    --tier1-font-stack: 'Cinzel Decorative', cursive;
    --tier2-font-stack: 'Cinzel', serif;
    --tier3-font-stack: 'Merriweather', serif;
    --tier4-font-stack: 'Lobster', cursive;
    --tier5-font-stack: 'Playfair Display', serif;
    
}

html, body { 
    height: 100%;  
    scroll-behavior: smooth;
}
body { 
    margin: 0; 
    font-family: var(--tier5-font-stack); 
    user-select: none !important;
}
.hidden{
    display: none !important;
    visibility: hidden !important;
}
.container{
    margin:1rem 2rem;
}
button{
    font-family: var(--tier2-font-stack) !important;
}
a{
    text-decoration: none;
    color: var(--standoutColor);
    &:hover{
        text-decoration: underline;
        color: var(--activatedColor);

    }
    &:visited{
    }
}
/* Tweaking Angular Material Spinner Color */
    .mat-progress-spinner circle, .mat-spinner circle {
        stroke: var(--themeColor);
    }

 /* Tweaking ng2-angular-view CSS */
    .iv-snap-view{
        visibility: visible !important;
        opacity: 1;
    }
    .image-gallery-2{
        visibility: hidden;
    }
    .options-image-viewer{
        visibility: visible !important;
        background: var(--themeColor);
    }
    .iv-loader{
        visibility: visible;
    }
    .image-container, .image-gallery-2{
        height: 450px !important;
        
    }
  


 /* Tweaking Mat-Table CSS */
    .mat-row{
        cursor: pointer;
    }
    .mat-row:hover{
        background: rgba($color: #666, $alpha: 0.1);
    }
    table {
        width: 100%;
        font-family: var(--tier3-font-stack) !important; 

    }
