<div *ngIf="isAuthorLoaded()" [@fadeIn]>
    <div class="headwrapper">
        <div>
            <h2>Authors</h2>
        </div>
    </div>

    <section class="gallery-cat">
        <mat-card class="gallery-cat-small-card" *ngFor="let alpha of getAlphabets()" (click)="reqAuthorbyAlpha(alpha)"
            matRipple>
            {{alpha | uppercase}}
        </mat-card>
        <div style="margin: 1em 0;display: flex;" class="navigation-bar">
            <button mat-mini-fab (click)="reqPrevPageAuthor()" *ngIf="!isFirstPageAuthor()" class="nav-button"
                style="margin-right: auto;" matRipple>
                <mat-icon>navigate_before</mat-icon>
            </button>
            <mat-card class="nav-header">
                <h2>Authors / {{getActivatedAlpha() | uppercase}} </h2>
                <h4>({{ getPaginatorData() }})</h4>
            </mat-card>
            <button mat-mini-fab (click)="reqNextPageAuthor()" *ngIf="!isLastPageAuthor()" class="nav-button"
                style="margin-left: auto;" matRipple>
                <mat-icon>navigate_next</mat-icon>
            </button>
        </div>
        <section class="gallery-cat">
            <mat-card *ngFor="let author of getAuthors()" class="gallery-aut-card"
                [routerLink]="['/arts/author', author.ID]" matRipple>
                <div style="display: flex;
                            align-items: center;
                            justify-content: flex-start;">
                    <span>
                        <mat-icon>account_circle</mat-icon>
                    </span>
                    <div style="margin: 0 1em;">
                        <span><strong>{{author.AUTHOR}}</strong></span><br>
                        <span>{{author.BORN_DIED}} / {{author.SCHOOL}} / #{{author.COUNT}} Articles</span>
                    </div>
                </div>
            </mat-card>
        </section>

    </section>
</div>